body{ padding-bottom: 20px; }
.navbar{ margin-bottom: 20px; }
.table-responsive td a.btn{ padding: 3px; font-size: 12px; }
.status-red{ background-color: #ffaaaa; }
.status-green{ background-color: #aaffaa; }